body{
   background-color: rgb(20, 20, 20);
   height: 100vh;
   overflow: hidden;
   margin: 0px;
   position: relative;
}

a{
   position: absolute;
   padding: 5px;
   top: 20px;
   right: 20px;
   border-radius:5px;
   color:white;
   background: rgb(98, 0 ,234);
   text-decoration: none;
   transition: background linear 0.4s;
}

a:hover{
   background: rgb(236, 64, 122);
}

#tiles{
   height: 100vh;
   width: 100vw;

   display: grid;
   grid-template-columns: repeat(var(--columns), 1fr);
   grid-template-rows: repeat(var(--rows), 1fr)
}

.tile{
   outline: 1px solid whitesmoke;
}