body{
   background-color: beije;
}

dialog{
   display: none;
   opacity: 0;
   translate: 0 25vh;
   transition-property: display opacity;
   /*transition-property: overlay display opacity; se tiver tendo problemas com layers*/
   transition-duration: 2s;
   transition-behavior: allow-discrete;
}

dialog[open]{
   display: block;
   opacity: 1;
   translate: 0 0;

   @starting-style{
      opacity: 0;
      translate: 0 -25vh;
   }
}

dialog::backdrop{
   transition-property: opacity display overlay;
   transition-duration: 2s;
   transition-behavior: allow-discrete;
   opacity: 0;
   background-image: linear-gradient( 45deg, red, blue);
}

dialog[open]::backdrop{
   opacity: .75;

}

@starting-style{
   dialog[open]::backdrop{
      opacity: 0;
   }
}


